**
!package.json
!package-lock.json
!tsconfig.base.json
!.prettierrc.json
!apps/
!apps/**
!packages/
!packages/**
!infrastructure/
!infrastructure/deployment/
!infrastructure/deployment/nginx.conf
**/node_modules
**/dist
**/.env
**/.env.*
**/*.pem
**/*.key
**/*.sqlite*
**/coverage
**/openapi.json
**/*.log
